.strand_selection ul{
    display: flex;
    flex-direction:column;
    text-decoration: none;
    list-style: none;
    align-items: end;
    width: fit-content;
    margin:0;
    padding-left: calc((100% - var(--col-1-width))*.5);
    --li-padding: 8px;
    --li-border:black 2pt solid;
}

.strand_selection ul div{
    width: var(--col-1-width);
}

.strand_selection ul div li{
    width: 100%;
    text-align: end;
    display: block;
}

.strand_selection ul li h2{
    margin: 0;
    padding: var(--li-padding);
    margin: -1pt;
    border: var(--li-border);
}

.strand_selection ul li h3{ /*https://stackoverflow.com/questions/46197844/is-it-possible-to-use-a-ternary-operator-in-css*/
    margin: 0;
    padding: var(--li-padding);
    margin: -1pt;
    border: var(--li-border);
    align-self: flex-end;
    margin-left: 20pt;
    animation-name: var(--anim-name);
    animation-duration: var(--anim-duration);
    animation-timing-function: ease-in-out;
    animation-direction: var(--anim-direction);
}
@keyframes dropdown-anim { /*https://www.w3schools.com/css/css3_animations.asp*/
    100%{
        visibility: visible;
        height:100%;
        padding: var(--li-padding);
        font-size: 1.17em;
    }
    0%{
        font-size: 0;
        height: 0%;
        padding: 0;
        visibility: collapse;
    }
}

.dropdown_parent_bar{
    user-select: none;
}

.dropdown_parent_bar img{
    transform: rotate(90deg);
}

.dropdown_parent_bar :hover img{
    transform: rotate(180deg) scale(150%);
    animation-name: dropdown-spin;
    animation-duration: .1s;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
}

@keyframes dropdown-spin {
    100%{
        transform: rotate(180deg) scale(150%);
    }
    0%{
        transform: rotate(90deg) scale(100%);
    }
}

.overall_layout{
    --col-1-width: 220px;
    --col-2-width:700px;
    display: grid;
    grid-template-columns: calc(var(--col-1-width) + 20px) calc(70vw - var(--col-1-width) - 60px);
}

.level_descriptor{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr;
    width: var(--col-2-width);
    height: 200px;
}

.level_descriptor p{
    padding: 10px;
    border: 2pt;
    border-color: black;
    border-style: solid;
    margin: -1pt;
}

.comment_input_box{
    min-width: var(--col-2-width); 
    max-width: var(--col-2-width);
    padding: 0;
    margin: -1px; 
    min-height: 20%;
}

.level_input_box{
    min-width: calc(var(--col-2-width) - 14.3%); 
    max-width: calc(var(--col-2-width) - 14.3%);
    padding: 0;
    margin: -1px; 
    margin-left: calc(7.14% - 45px);
    min-height: 20%;
}